
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

    @*@Scripts.Render("~/dist/out-tsc/src")*@
</head>
<h2>Razor About</h2>

<body>
    <div>
        <This-About></This-About>
    </div>
    @Styles.Render("~/Content/Angular")
    @Scripts.Render("~/bundles/Angular")
</body>








