
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Razor Index</h2>

<div>
    <This-Index></This-Index>
</div>


@Styles.Render("~/Content/Angular")
@Scripts.Render("~/bundles/Angular")
@*@Scripts.Render("~/dist/out-tsc/src")*@

